//@import "~@angular/material/prebuilt-themes/indigo-pink.css"; // * temp theme before we get our custom one implemented
@import "../../node_modules/@angular/material/theming";
@include mat-core();

$primary: #1a2954;
$accent: #21cf36;
$warn: #ffc107;

$secondary: #757e98;
$information: #17a2b8;
$danger: #f44336;

$base-theme: mat-light-theme(mat-palette($mat-blue), mat-palette($mat-yellow), mat-palette($mat-pink));
$semantic-theme: mat-light-theme(mat-palette($mat-red), mat-palette($mat-purple), mat-palette($mat-green));

@include angular-material-theme($base-theme);

.success {
  @include angular-material-theme($semantic-theme);
}
